/* 
*{
    outline: 1px solid red;
} */

/* 
Il .container di default ha una larghezza fissa di 1140px.

Se non definiamo il 100% per tutte le grandezze dello schermo al di sotto di quella cifra,
il container sborderà verso l'esterno facendo apparire una scrollbar orizzontale.

Non possiamo definire di default il container a larghezza 100% perché altrimenti per grandezze di schermo superiori a 1140px, 
continuerebbe a crescere. Risultato che non vogliamo.

Dunque la situazione ideale è quella scritta di seguito.
*/

/* Tablet */

@media screen and (max-width:1140px){

    .container{
        width:100%;
    }

}

/* @media screen and (max-width:768px){

    .container{
        width:100%;
    }

} */
/* La Media Query per 768px non serve più perché ereditata dalla Media Query soprastante */ 

/* Smartphone */

@media screen and (max-width:480px){

    .row {
        flex-wrap:wrap;
    }

    .col{
        min-width:100%;
    }

    .col:not(:first-of-type){
        margin-top:50px;
    }

    .why-us{
        background-color:#222222;
        margin-bottom:0;
    }

    .steps{
        margin:0;
        padding:0;
    }

    .container{
        padding:3rem 1rem;
    }

}